    <div id="userPostWindow" class="user-post off">
    <div id="closePost" class="close">
        <!-- close icon -->
        <!-- prettier-ignore -->
        <svg class="close-icon-svg" preserveAspectRatio="none" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.3629 1.75L2.41718 27.25" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.41718 1.75L28.3629 27.25" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>
    <hr />
            <div class="header-text">New Message</div>
    <div class="tags-wrapper">
        <div class="tags-label">Tags:</div>
        <input id="tags" class="tags-input" />
    </div>

    <textarea id="newMessageText" class="new-message-area"></textarea>
    <div class="submit-wrapper">
        <div id="submitButton" class="submit">Submit</div>
    </div>
    </div>