    <div id="userLoginWindow" class="user-login off">
    <div id="closeLogin" class="close">
        <!-- close icon -->
        <!-- prettier-ignore -->
        <svg class="close-icon-svg" preserveAspectRatio="none" viewBox="0 0 31 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.3629 1.75L2.41718 27.25" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.41718 1.75L28.3629 27.25" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>
    <hr />
    <div class="header-text">Log in to "How to?"</div>
    <div class="buttons-wrapper">
        <div class="login-user-button">
        <div class="user-icon">
            <!-- user icon -->
            <!-- prettier-ignore -->
            <svg class="user-icon-svg" preserveAspectRatio="none" viewBox="0 0 32 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 17.5C21.05 17.5 25.1429 13.583 25.1429 8.75C25.1429 3.91699 21.05 0 16 0C10.95 0 6.85714 3.91699 6.85714 8.75C6.85714 13.583 10.95 17.5 16 17.5ZM22.4 19.6875H21.2071C19.6214 20.3848 17.8571 20.7812 16 20.7812C14.1429 20.7812 12.3857 20.3848 10.7929 19.6875H9.6C4.3 19.6875 0 23.8027 0 28.875V31.7188C0 33.5303 1.53571 35 3.42857 35H28.5714C30.4643 35 32 33.5303 32 31.7188V28.875C32 23.8027 27.7 19.6875 22.4 19.6875Z" fill="#626262"/>
            </svg>
        </div>
        <div class="text">Use phone / email / username</div>
        </div>
        <div class="login-facebook-button">
        <div class="facebook-icon">
            <!-- facebook icon -->
            <!-- prettier-ignore -->
            <svg class="facebook-icon-svg" preserveAspectRatio="none" viewBox="0 0 32 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.5 17.5C31.5 8.13477 24.5625 0.546875 16 0.546875C7.4375 0.546875 0.5 8.13477 0.5 17.5C0.5 25.9615 6.16813 32.9752 13.5781 34.248V22.4007H9.64062V17.5H13.5781V13.7648C13.5781 9.51631 15.8906 7.16953 19.4325 7.16953C21.1287 7.16953 22.9025 7.50039 22.9025 7.50039V11.6703H20.9475C19.0225 11.6703 18.4219 12.9773 18.4219 14.3179V17.5H22.7206L22.0331 22.4007H18.4219V34.248C25.8319 32.9752 31.5 25.9615 31.5 17.5Z" fill="#1877F2"/>
            </svg>
        </div>
        <div class="text">Log in Facebook</div>
        </div>
    </div>
    <div class="sign-up">
        Don't have an account? <span class="sign-up-part">Sign up</span>
    </div>
    </div>