<!-- search icon -->
<!-- prettier-ignore -->
<div class="search">
    <div id="searchIcon" class="search-icon"> 
        <svg class="search-svg" preserveAspectRatio="none" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26.4973 23.2704H24.8241L24.2311 22.6993C26.3067 20.2876 27.5563 17.1567 27.5563 13.7507C27.5563 6.15609 21.393 0 13.7894 0C6.18579 0 0.0224304 6.15609 0.0224304 13.7507C0.0224304 21.3453 6.18579 27.5014 13.7894 27.5014C17.1993 27.5014 20.334 26.2533 22.7485 24.1801L23.3203 24.7724V26.4437L33.9103 37L37.0661 33.8479L26.4973 23.2704V23.2704ZM13.7894 23.2704C8.51558 23.2704 4.25841 19.0183 4.25841 13.7507C4.25841 8.48313 8.51558 4.23099 13.7894 4.23099C19.0632 4.23099 23.3203 8.48313 23.3203 13.7507C23.3203 19.0183 19.0632 23.2704 13.7894 23.2704Z" fill="#FD2D55"/>
        </svg>                            
    </div>
    <input id="searchInput" class="search-input" placeholder="Search..." name="search" />
</div>