<table class=" table table-dark table-striped text-center text-break">
   <tbody>
      {{#each posts}}
      <tr>
         <td> {{this.dataValues.posts}}</td>
      
      </tr>
      {{/each}}
   </tbody>

</table>