
<section>
    <div class="left-side-wrapper">
    <div class="logo">
        <!-- logo icon -->
        <!-- prettier-ignore -->
        <svg class="logo-svg" preserveAspectRatio="none" viewBox="0 0 124 121" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
            <path d="M16.8101 59.9244L17.1003 58.6484L16.2172 57.6827C11.367 52.3795 8.5 45.6965 8.5 38.4375C8.5 21.6924 23.9202 7.625 43.6022 7.625C63.2842 7.625 78.7044 21.6924 78.7044 38.4375C78.7044 55.1826 63.2842 69.25 43.6022 69.25C38.3001 69.25 33.2898 68.1814 28.7756 66.3299L27.3503 65.7454L26.1873 66.7557C23.1222 69.4185 17.3976 73.4289 9.86222 74.2321C10.4329 73.4491 11.103 72.481 11.8023 71.3704C13.6476 68.4399 15.8033 64.3505 16.8101 59.9244ZM8.20224 76.3613C8.21014 76.3523 8.21899 76.342 8.22879 76.3306C8.22023 76.341 8.21148 76.3513 8.20249 76.3615L8.20224 76.3613Z" fill="white" stroke="#FD2D55" stroke-width="5"/>
            <path d="M44.4442 45.5443C43.8843 45.7917 43.2788 45.9154 42.6278 45.9154C41.5601 45.9154 40.7528 45.7656 40.2059 45.4662C40.1538 45.0625 40.1278 44.5417 40.1278 43.9037C40.1278 43.2656 40.2515 42.6081 40.4989 41.931C40.7463 41.2409 41.0653 40.668 41.4559 40.2122C41.8596 39.7435 42.3023 39.3073 42.7841 38.9037C43.2658 38.5 43.7476 38.0964 44.2294 37.6927C44.7111 37.2891 45.1538 36.8594 45.5575 36.4037C46.4429 35.375 46.8856 34.0534 46.8856 32.4388C46.8856 30.8242 46.508 29.5742 45.7528 28.6888C45.0106 27.8034 43.995 27.3607 42.7059 27.3607C41.4299 27.3607 40.4143 27.7513 39.6591 28.5326C38.9169 29.3138 38.5458 30.2643 38.5458 31.3841C38.5458 32.4909 38.8713 33.5195 39.5223 34.4701C39.314 35.1081 38.7867 35.5703 37.9403 35.8568C37.6278 35.974 37.2893 36.0326 36.9247 36.0326C34.5288 36.0065 33.3244 34.6784 33.3114 32.0482C33.3114 30.03 34.008 28.4154 35.4012 27.2044C37.2893 25.5638 39.7567 24.7435 42.8036 24.7435C49.6525 24.7435 53.077 27.3086 53.077 32.4388C53.077 34.7956 52.5041 36.638 51.3583 37.9662C50.538 38.9297 49.594 39.75 48.5262 40.4271C47.4585 41.0912 46.6708 41.625 46.163 42.0287C45.0171 42.9662 44.4442 44.138 44.4442 45.5443ZM39.0536 51.5404C39.0536 50.681 39.3986 49.9128 40.0887 49.2357C40.7919 48.5586 41.5666 48.2201 42.413 48.2201C43.2593 48.2201 43.9494 48.474 44.4833 48.9818C45.0302 49.4896 45.3036 50.1927 45.3036 51.0912C45.3036 51.9896 44.9065 52.8229 44.1122 53.5912C43.5132 54.112 42.8036 54.3724 41.9833 54.3724C41.163 54.3724 40.4663 54.112 39.8934 53.5912C39.3335 53.0833 39.0536 52.3997 39.0536 51.5404Z" fill="#FD2D55"/>
            </g>
            <g clip-path="url(#clip1)">
            <path d="M105.936 64.1761L105.645 62.8987L106.53 61.9325C110.403 57.703 112.682 52.3862 112.682 46.6205C112.682 33.3351 100.409 22.0656 84.6022 22.0656C68.7955 22.0656 56.5221 33.3351 56.5221 46.6205C56.5221 59.906 68.7955 71.1754 84.6022 71.1754C88.8515 71.1754 92.8665 70.3202 96.484 68.8386L97.9077 68.2554L99.0698 69.2637C101.384 71.2711 105.561 74.2107 111.037 75.0841C110.73 74.6393 110.403 74.1486 110.069 73.6187C108.555 71.2173 106.771 67.8445 105.936 64.1761ZM113.042 77.7315C113.033 77.7213 113.023 77.7097 113.011 77.6967C113.021 77.7084 113.031 77.7201 113.041 77.7317L113.042 77.7315Z" fill="white" stroke="#FD2D55" stroke-width="5"/>
            <path d="M71.4257 43.4124C72.1548 42.8135 72.9231 42.514 73.7303 42.514C74.5376 42.514 75.2082 42.7744 75.7421 43.2952C76.2889 43.803 76.5624 44.5192 76.5624 45.4437C76.5624 46.3551 76.2108 47.1234 75.5077 47.7484C74.8176 48.3734 74.0559 48.6859 73.2225 48.6859C72.3892 48.6859 71.6861 48.4319 71.1132 47.9241C70.5533 47.4033 70.2733 46.7002 70.2733 45.8148C70.2733 44.9163 70.6574 44.1155 71.4257 43.4124ZM82.1678 43.4124C82.897 42.8135 83.6652 42.514 84.4725 42.514C85.2798 42.514 85.9504 42.7744 86.4843 43.2952C87.0311 43.803 87.3046 44.5192 87.3046 45.4437C87.3046 46.3551 86.953 47.1234 86.2499 47.7484C85.5598 48.3734 84.7981 48.6859 83.9647 48.6859C83.1314 48.6859 82.4283 48.4319 81.8553 47.9241C81.2955 47.4033 81.0155 46.7002 81.0155 45.8148C81.0155 44.9163 81.3996 44.1155 82.1678 43.4124ZM92.91 43.4124C93.6392 42.8135 94.4074 42.514 95.2147 42.514C96.022 42.514 96.6926 42.7744 97.2264 43.2952C97.7733 43.803 98.0468 44.5192 98.0468 45.4437C98.0468 46.3551 97.6952 47.1234 96.9921 47.7484C96.302 48.3734 95.5402 48.6859 94.7069 48.6859C93.8736 48.6859 93.1705 48.4319 92.5975 47.9241C92.0376 47.4033 91.7577 46.7002 91.7577 45.8148C91.7577 44.9163 92.1418 44.1155 92.91 43.4124Z" fill="#FD2D55"/>
            </g>
            <path d="M20.97 92V113H18.78V103.31H5.64V113H3.42V92H5.64V101.36H18.78V92H20.97ZM33.8243 113.15C32.3043 113.15 30.9343 112.81 29.7143 112.13C28.4943 111.43 27.5343 110.47 26.8343 109.25C26.1343 108.03 25.7843 106.65 25.7843 105.11C25.7843 103.57 26.1343 102.19 26.8343 100.97C27.5343 99.75 28.4943 98.8 29.7143 98.12C30.9343 97.44 32.3043 97.1 33.8243 97.1C35.3443 97.1 36.7143 97.44 37.9343 98.12C39.1543 98.8 40.1043 99.75 40.7843 100.97C41.4843 102.19 41.8343 103.57 41.8343 105.11C41.8343 106.65 41.4843 108.03 40.7843 109.25C40.1043 110.47 39.1543 111.43 37.9343 112.13C36.7143 112.81 35.3443 113.15 33.8243 113.15ZM33.8243 111.26C34.9443 111.26 35.9443 111.01 36.8243 110.51C37.7243 109.99 38.4243 109.26 38.9243 108.32C39.4243 107.38 39.6743 106.31 39.6743 105.11C39.6743 103.91 39.4243 102.84 38.9243 101.9C38.4243 100.96 37.7243 100.24 36.8243 99.74C35.9443 99.22 34.9443 98.96 33.8243 98.96C32.7043 98.96 31.6943 99.22 30.7943 99.74C29.9143 100.24 29.2143 100.96 28.6943 101.9C28.1943 102.84 27.9443 103.91 27.9443 105.11C27.9443 106.31 28.1943 107.38 28.6943 108.32C29.2143 109.26 29.9143 109.99 30.7943 110.51C31.6943 111.01 32.7043 111.26 33.8243 111.26ZM68.9034 97.22L62.9334 113H60.9234L55.9434 100.07L50.9634 113H48.9534L43.0134 97.22H45.0534L50.0034 110.63L55.0734 97.22H56.9034L61.9434 110.63L66.9534 97.22H68.9034ZM88.2722 112.04C87.8722 112.4 87.3722 112.68 86.7722 112.88C86.1922 113.06 85.5822 113.15 84.9422 113.15C83.4622 113.15 82.3222 112.75 81.5222 111.95C80.7222 111.15 80.3222 110.02 80.3222 108.56V99.02H77.5022V97.22H80.3222V93.77H82.4522V97.22H87.2522V99.02H82.4522V108.44C82.4522 109.38 82.6822 110.1 83.1422 110.6C83.6222 111.08 84.3022 111.32 85.1822 111.32C85.6222 111.32 86.0422 111.25 86.4422 111.11C86.8622 110.97 87.2222 110.77 87.5222 110.51L88.2722 112.04ZM98.043 113.15C96.523 113.15 95.153 112.81 93.933 112.13C92.713 111.43 91.753 110.47 91.053 109.25C90.353 108.03 90.003 106.65 90.003 105.11C90.003 103.57 90.353 102.19 91.053 100.97C91.753 99.75 92.713 98.8 93.933 98.12C95.153 97.44 96.523 97.1 98.043 97.1C99.563 97.1 100.933 97.44 102.153 98.12C103.373 98.8 104.323 99.75 105.003 100.97C105.703 102.19 106.053 103.57 106.053 105.11C106.053 106.65 105.703 108.03 105.003 109.25C104.323 110.47 103.373 111.43 102.153 112.13C100.933 112.81 99.563 113.15 98.043 113.15ZM98.043 111.26C99.163 111.26 100.163 111.01 101.043 110.51C101.943 109.99 102.643 109.26 103.143 108.32C103.643 107.38 103.893 106.31 103.893 105.11C103.893 103.91 103.643 102.84 103.143 101.9C102.643 100.96 101.943 100.24 101.043 99.74C100.163 99.22 99.163 98.96 98.043 98.96C96.923 98.96 95.913 99.22 95.013 99.74C94.133 100.24 93.433 100.96 92.913 101.9C92.413 102.84 92.163 103.91 92.163 105.11C92.163 106.31 92.413 107.38 92.913 108.32C93.433 109.26 94.133 109.99 95.013 110.51C95.913 111.01 96.923 111.26 98.043 111.26ZM113.046 106.7C113.046 105.88 113.176 105.16 113.436 104.54C113.716 103.92 114.056 103.39 114.456 102.95C114.856 102.51 115.376 102.01 116.016 101.45C116.876 100.69 117.506 100.03 117.906 99.47C118.326 98.89 118.536 98.19 118.536 97.37C118.536 96.27 118.106 95.39 117.246 94.73C116.386 94.05 115.206 93.71 113.706 93.71C111.226 93.71 109.316 94.52 107.976 96.14L106.386 94.94C108.086 92.86 110.576 91.82 113.856 91.82C115.956 91.82 117.626 92.29 118.866 93.23C120.126 94.17 120.756 95.44 120.756 97.04C120.756 97.86 120.616 98.59 120.336 99.23C120.076 99.85 119.746 100.38 119.346 100.82C118.966 101.26 118.456 101.77 117.816 102.35C116.956 103.13 116.316 103.83 115.896 104.45C115.476 105.05 115.266 105.8 115.266 106.7H113.046ZM114.156 113.15C113.716 113.15 113.346 113 113.046 112.7C112.746 112.38 112.596 112.01 112.596 111.59C112.596 111.15 112.746 110.79 113.046 110.51C113.346 110.21 113.716 110.06 114.156 110.06C114.616 110.06 114.996 110.21 115.296 110.51C115.596 110.79 115.746 111.15 115.746 111.59C115.746 112.01 115.586 112.38 115.266 112.7C114.966 113 114.596 113.15 114.156 113.15Z" fill="#F7F7F7"/>
            <defs>
            <clipPath id="clip0">
            <rect width="75.2044" height="82" fill="white" transform="translate(6)"/>
            </clipPath>
            <clipPath id="clip1">
            <rect width="61.1602" height="66.5967" fill="white" transform="matrix(-1 0 0 1 115.182 15.4033)"/>
            </clipPath>
            </defs>
            </svg>
    </div>
    <!-- left menu -->
    <div class="left-menu">
        <div class="home-button">
        <!-- home icon -->
        <!-- prettier-ignore -->
        <svg class="home-svg" preserveAspectRatio="none" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.5 55V38.5H38.5V55H52.25V33H60.5L33 8.25L5.5 33H13.75V55H27.5Z" fill="#F7F7F7"/>
            </svg>
        </div>
        <div class="followers">
        <!-- followers icon -->
        <!-- prettier-ignore -->
        <svg class="followers-svg" preserveAspectRatio="none" viewBox="0 0 68 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.4 30.5C26.9769 30.5 32.3 24.5311 32.3 17.1562C32.3 9.78145 26.9769 3.8125 20.4 3.8125C13.8231 3.8125 8.5 9.78145 8.5 17.1562C8.5 24.5311 13.8231 30.5 20.4 30.5ZM28.56 34.3125H27.6781C25.4681 35.5039 23.0138 36.2188 20.4 36.2188C17.7863 36.2188 15.3425 35.5039 13.1219 34.3125H12.24C5.4825 34.3125 0 40.4602 0 48.0375V51.4688C0 54.626 2.28438 57.1875 5.1 57.1875H35.7C38.5156 57.1875 40.8 54.626 40.8 51.4688V48.0375C40.8 40.4602 35.3175 34.3125 28.56 34.3125ZM51 30.5C56.6313 30.5 61.2 25.377 61.2 19.0625C61.2 12.748 56.6313 7.625 51 7.625C45.3688 7.625 40.8 12.748 40.8 19.0625C40.8 25.377 45.3688 30.5 51 30.5ZM56.1 34.3125H55.6963C54.2194 34.8844 52.6575 35.2656 51 35.2656C49.3425 35.2656 47.7806 34.8844 46.3038 34.3125H45.9C43.7325 34.3125 41.735 35.0154 39.9819 36.1473C42.5744 39.2807 44.2 43.4387 44.2 48.0375V52.6125C44.2 52.8746 44.1469 53.1248 44.1363 53.375H62.9C65.7156 53.375 68 50.8135 68 47.6562C68 40.2814 62.6769 34.3125 56.1 34.3125V34.3125Z" fill="#F7F7F7"/>
        </svg>
        </div>
        <div class="likes">
        <!-- likes icon -->
        <!-- prettier-ignore -->
        <svg class="likes-svg" preserveAspectRatio="none" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M65.125 14.4062C63.5289 12.8094 61.6338 11.5426 59.548 10.6784C57.4622 9.81413 55.2265 9.36929 52.9688 9.36929C50.711 9.36929 48.4753 9.81413 46.3895 10.6784C44.3037 11.5426 42.4086 12.8094 40.8125 14.4062L37.5 17.7187L34.1875 14.4062C30.9635 11.1822 26.5907 9.37096 22.0313 9.37096C17.4718 9.37096 13.099 11.1822 9.87501 14.4062C6.65097 17.6303 4.83972 22.003 4.83972 26.5625C4.83972 31.122 6.65097 35.4947 9.87501 38.7187L13.1875 42.0312L37.5 66.3437L61.8125 42.0312L65.125 38.7187C66.7219 37.1226 67.9886 35.2275 68.8529 33.1417C69.7171 31.0559 70.162 28.8203 70.162 26.5625C70.162 24.3047 69.7171 22.0691 68.8529 19.9833C67.9886 17.8975 66.7219 16.0024 65.125 14.4062V14.4062Z" fill="#F7F7F7" stroke="#F7F7F7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div>
        <div class="hashtags">
        <!-- hashtags icon -->
        <!-- prettier-ignore -->
        <svg class="hashtags-svg" preserveAspectRatio="none" viewBox="0 0 83 83" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.8333 31.125H69.1666" stroke="#F7F7F7" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.8333 51.875H69.1666" stroke="#F7F7F7" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M34.5834 10.375L27.6667 72.625" stroke="#F7F7F7" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M55.3334 10.375L48.4167 72.625" stroke="#F7F7F7" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div>
    </div>
    <div id="user-icon" class="user-icon">
        <!-- add new user icon -->
        <!-- prettier-ignore -->
        <div class="user-icon-wrapper">
        <svg class="add-new-user-svg" preserveAspectRatio="none" viewBox="0 0 64 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M62.4 22.3438H56V15.4688C56 14.5234 55.28 13.75 54.4 13.75H51.2C50.32 13.75 49.6 14.5234 49.6 15.4688V22.3438H43.2C42.32 22.3438 41.6 23.1172 41.6 24.0625V27.5C41.6 28.4453 42.32 29.2188 43.2 29.2188H49.6V36.0938C49.6 37.0391 50.32 37.8125 51.2 37.8125H54.4C55.28 37.8125 56 37.0391 56 36.0938V29.2188H62.4C63.28 29.2188 64 28.4453 64 27.5V24.0625C64 23.1172 63.28 22.3438 62.4 22.3438ZM22.4 27.5C29.47 27.5 35.2 21.3447 35.2 13.75C35.2 6.15527 29.47 0 22.4 0C15.33 0 9.6 6.15527 9.6 13.75C9.6 21.3447 15.33 27.5 22.4 27.5ZM31.36 30.9375H29.69C27.47 32.0332 25 32.6562 22.4 32.6562C19.8 32.6562 17.34 32.0332 15.11 30.9375H13.44C6.02 30.9375 0 37.4043 0 45.375V49.8438C0 52.6904 2.15 55 4.8 55H40C42.65 55 44.8 52.6904 44.8 49.8438V45.375C44.8 37.4043 38.78 30.9375 31.36 30.9375Z" fill="#626262"/>
            </svg>                
        </div>
    </div>
    </div>
    <!-- content -->
    <div class="content">
    <!-- main content -->
    <div class="main-content">
        <!-- search icon -->
        <!-- prettier-ignore -->
        <div class="search">
            <div class="search-icon"> 
                <svg class="search-svg" preserveAspectRatio="none" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.4973 23.2704H24.8241L24.2311 22.6993C26.3067 20.2876 27.5563 17.1567 27.5563 13.7507C27.5563 6.15609 21.393 0 13.7894 0C6.18579 0 0.0224304 6.15609 0.0224304 13.7507C0.0224304 21.3453 6.18579 27.5014 13.7894 27.5014C17.1993 27.5014 20.334 26.2533 22.7485 24.1801L23.3203 24.7724V26.4437L33.9103 37L37.0661 33.8479L26.4973 23.2704V23.2704ZM13.7894 23.2704C8.51558 23.2704 4.25841 19.0183 4.25841 13.7507C4.25841 8.48313 8.51558 4.23099 13.7894 4.23099C19.0632 4.23099 23.3203 8.48313 23.3203 13.7507C23.3203 19.0183 19.0632 23.2704 13.7894 23.2704Z" fill="#FD2D55"/>
                </svg>                            
            </div>
            <input class="search-input" placeholder="Search..." name="search" />
        </div>
        <!-- Post -->
        <div class="post-scroll-wrapper">
            {{> viewpost}}
        </div>
        <!-- float button -->
        <div class="float-menu-button">
        <ul id="floatButtonNavs" class="container">
            <!-- float menu button -->
            <!-- prettier-ignore -->
            <li><svg class="float-menu-button-svg" preserveAspectRatio="none" viewBox="0 0 109 109" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="54.5" cy="54.4998" r="54.5" fill="#FD2D55"/>
            <path d="M77.5416 57.7915H57.7916V77.5415H51.2083V57.7915H31.4583V51.2081H51.2083V31.4581H57.7916V51.2081H77.5416V57.7915Z" fill="#F7F7F7"/>
            </svg></li>
            <!-- float menu new msg sub-button -->
            <!-- prettier-ignore -->
            <li id="newMessageButton"><svg class="float-menu-msg-sub-button-svg" preserveAspectRatio="none" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32.4998" r="32.5" fill="#FD2D55"/>
            <path d="M47.9999 15.9998C44.8648 16.2363 22.8391 18.5366 21.2994 35.0989C21.1123 36.8693 21.0063 38.6477 20.9367 40.4274L31.7667 28.5613C32.1451 28.1462 32.7597 28.1462 33.1381 28.5613C33.5165 28.9763 33.5165 29.649 33.1381 30.064L17.4262 47.2792C16.8583 47.9014 16.8583 48.9108 17.4262 49.533C17.9941 50.1552 18.915 50.1552 19.4836 49.533L22.9426 45.7432C25.491 45.7339 28.0376 45.5752 30.5691 45.2545C33.8071 44.8932 36.4434 43.4967 38.5964 41.4998H32.4842L41.3719 38.2539C42.053 37.2651 42.6658 36.2146 43.2155 35.1248H38.3027L44.7534 31.5914C47.2909 24.8226 47.8903 17.7437 47.9999 15.9998Z" fill="#F7F7F7"/>
            </svg></li>
            <!-- float menu new poll sub-button -->
            <!-- prettier-ignore -->
            <li><svg class="float-menu-poll-sub-button-svg" preserveAspectRatio="none" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="32.5" cy="32.4998" r="32.5" fill="#FD2D55"/>
                <path d="M20.5 26.3748C19.3556 26.3748 18.4286 25.5777 18.4286 24.5936V21.0311C18.4286 20.0469 19.3556 19.2498 20.5 19.2498H37.0714C38.2159 19.2498 39.1429 20.0469 39.1429 21.0311V24.5936C39.1429 25.5777 38.2159 26.3748 37.0714 26.3748H20.5ZM20.5 37.0623C19.3556 37.0623 18.4286 36.2652 18.4286 35.2811V31.7186C18.4286 30.7344 19.3556 29.9373 20.5 29.9373H49.5C50.6445 29.9373 51.5714 30.7344 51.5714 31.7186V35.2811C51.5714 36.2652 50.6445 37.0623 49.5 37.0623H20.5ZM20.5 47.7498C19.3556 47.7498 18.4286 46.9527 18.4286 45.9686V42.4061C18.4286 41.4219 19.3556 40.6248 20.5 40.6248H28.7857C29.9302 40.6248 30.8572 41.4219 30.8572 42.4061V45.9686C30.8572 46.9527 29.9302 47.7498 28.7857 47.7498H20.5Z" fill="#F7F7F7"/>
                </svg></li>
            <!-- float menu new photo/video sub-button -->
            <!-- prettier-ignore -->
            <li><svg class="float-menu-photo-video-sub-button-svg" preserveAspectRatio="none" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32.4998" r="32.5" fill="#FD2D55"/>
            <path d="M19.9062 18.0623C18.3018 18.0623 17 19.4481 17 21.1561V43.8436C17 45.5516 18.3018 46.9373 19.9062 46.9373H45.0938C46.6982 46.9373 48 45.5516 48 43.8436V21.1561C48 19.4481 46.6982 18.0623 45.0938 18.0623H19.9062ZM19.9062 20.1248H26.3242C26.524 20.1248 26.6875 20.2988 26.6875 20.5115V21.8006C26.6875 22.0133 26.524 22.1873 26.3242 22.1873H19.3008C19.101 22.1873 18.9375 22.0133 18.9375 21.8006V21.1561C18.9375 20.5889 19.3734 20.1248 19.9062 20.1248ZM45.6992 26.3123H19.3008C19.101 26.3123 18.9375 26.1383 18.9375 25.9256V23.6053C18.9375 23.3926 19.101 23.2186 19.3008 23.2186H27.6562L29.4848 20.2988C29.5514 20.1893 29.6664 20.1248 29.7875 20.1248H45.0938C45.6266 20.1248 46.0625 20.5889 46.0625 21.1561V25.9256C46.0625 26.1383 45.899 26.3123 45.6992 26.3123ZM32.5 43.3279C28.4918 43.3279 25.2344 39.8604 25.2344 35.5936C25.2344 31.3268 28.4918 27.8592 32.5 27.8592C36.5082 27.8592 39.7656 31.3268 39.7656 35.5936C39.7656 39.8604 36.5082 43.3279 32.5 43.3279ZM32.5 29.9217C29.5635 29.9217 27.1719 32.4676 27.1719 35.5936C27.1719 38.7195 29.5635 41.2654 32.5 41.2654C35.4365 41.2654 37.8281 38.7195 37.8281 35.5936C37.8281 32.4676 35.4365 29.9217 32.5 29.9217ZM29.5938 36.6248C29.0609 36.6248 28.625 36.1608 28.625 35.5936C28.625 33.3184 30.3627 31.4686 32.5 31.4686C33.0328 31.4686 33.4688 31.9326 33.4688 32.4998C33.4688 33.067 33.0328 33.5311 32.5 33.5311C31.4344 33.5311 30.5625 34.4592 30.5625 35.5936C30.5625 36.1608 30.1266 36.6248 29.5938 36.6248Z" fill="#F7F7F7"/>
            </svg></li>
            <!-- float menu new upload sub-button -->
            <!-- prettier-ignore -->
            <li><svg class="float-menu-upload-sub-button-svg" preserveAspectRatio="none" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="32.5" cy="32.4998" r="32.5" fill="#FD2D55"/>
                <path d="M45.24 29.2772C45.4706 28.6502 45.6 27.9647 45.6 27.2498C45.6 24.1444 43.1812 21.6248 40.2 21.6248C39.0919 21.6248 38.0569 21.9764 37.2019 22.5741C35.6437 19.7616 32.7356 17.8748 29.4 17.8748C24.4275 17.8748 20.4 22.0701 20.4 27.2498C20.4 27.408 20.4056 27.5662 20.4112 27.7244C17.2612 28.8787 15 32.0076 15 35.6873C15 40.3455 18.6281 44.1248 23.1 44.1248H43.8C47.7769 44.1248 51 40.7674 51 36.6248C51 32.9979 48.525 29.9686 45.24 29.2772ZM37.1287 32.8748H33.45V39.4373C33.45 39.953 33.045 40.3748 32.55 40.3748H29.85C29.355 40.3748 28.95 39.953 28.95 39.4373V32.8748H25.2712C24.4669 32.8748 24.0675 31.867 24.6356 31.2752L30.5644 25.0994C30.9131 24.7362 31.4869 24.7362 31.8356 25.0994L37.7644 31.2752C38.3325 31.867 37.9275 32.8748 37.1287 32.8748Z" fill="#F7F7F7"/>
                </svg></li>
        </ul>
        </div>
    </div>
    <!-- right side -->
    <div class="right-side">
        <div class="panel-wrapper">
        <div class="header">Following accounts</div>
        <!-- Users -->
        <div class="panel-scroll-wrapper">
            <div class="user">
            <div class="user-pic"></div>
            <div class="user-name">lilyachty</div>
            <div class="user-mark">
                <!-- real icon -->
                <!-- prettier-ignore -->
                <svg class="real-icon-svg" preserveAspectRatio="none" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="15.5" cy="15.5" r="15.5" fill="#FD2D55"/>
                <path d="M11.4722 24.5971L4.32218 16.7971C3.89263 16.3284 3.89263 15.5687 4.32218 15.1L5.87778 13.4029C6.30734 12.9343 7.00386 12.9343 7.43342 13.4029L12.25 18.6573L22.5666 7.40294C22.9961 6.93433 23.6927 6.93433 24.1222 7.40294L25.6778 9.1C26.1074 9.56861 26.1074 10.3284 25.6778 10.7971L13.0278 24.5971C12.5982 25.0657 11.9017 25.0657 11.4722 24.5971Z" fill="#F7F7F7"/>
                </svg>
            </div>
            <div class="user-topic">Photography</div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- User Login -->
    {{> userlogin}}
    <!-- User post message -->
    {{> postmessage}}
        <!-- User post message -->
    {{> search}}
</section>
