section {
  min-height: 100vh;
  background: linear-gradient(
    113.82deg,
    #4a62cc 0%,
    rgba(191, 60, 147, 0.610181) 16.15%,
    rgba(243, 77, 91, 0.536733) 33.85%,
    rgba(243, 77, 91, 0.536733) 62.5%,
    rgba(191, 60, 147, 0.610181) 79.69%,
    #4a62cc 100%
  );
  @include flex(flex-start, flex-start, row);
  .left-side-wrapper {
    width: 0;
    opacity: 0;
    @include flex(space-between, center, column);
    min-height: 100vh;

    //Logo
    .logo {
      padding: 0.5vw 0.5vw 0 0.5vw;
      .logo-svg {
        width: 5vw;
      }
    }

    //Buttons
    .home-button {
      .home-svg {
        width: 3.5vw;
      }
    }
  }
  .followers {
    .followers-svg {
      width: 3.5vw;
    }
  }
  .likes {
    .likes-svg {
      width: 3.5vw;
    }
  }
  .hashtags {
    .hashtags-svg {
      width: 3.5vw;
    }
  }

  .home-button,
  .followers,
  .likes,
  .hashtags {
    opacity: 0;
    margin: 1vw 0;
    padding: 0.5vw;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: $primary-color;
      border-radius: 50%;
    }
  }

  .home-button {
    margin: 0;
  }
  //User Icon
  .user-icon-wrapper {
    border-radius: 50%;
    background: $secondary-color;
    border: 1px solid $primary-color;
    margin-bottom: 1vw;
    cursor: pointer;

    .add-new-user-svg {
      width: 3vw;
      margin: 0.7vw;
    }
  }
  .content {
    height: 99.5vh;
    width: 100%;
    margin: 0.2vw 0 0 0vw;
    background: $secondary-color;
    padding: 1.5vw;
    border-radius: 2vw 0px 0px 2vw;
    @include flex(flex-start, stretch, row);
    .main-content {
      position: relative;
      flex: 2;
      opacity: 0;
      .search {
        border: 0.2vw solid $primary-color;
        padding: 0.5vw 0.8vw 0.2vw 0.5vw;
        border-radius: 1.5vw 0 0 1.5vw;
        transform: translateX(0.15vw);
        @include flex(flex-start, center, row);
        .search-icon {
          .search-svg {
            width: 1.5vw;
            height: 1.4vw;
          }
        }
        .search-input {
          outline: none;
          border: none;
          background: none;
          box-shadow: none;
          color: $primary-font-color;
          font-family: "Montserrat", sans-serif;
          font-size: 1.8rem;
          width: 100%;
          margin: 0 0 0.2vw 1vw;
        }
      }
    }
    .post-scroll-wrapper {
      height: 88vh;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .right-side {
      opacity: 0;
      border-left: 0.2vw solid $primary-color;
      flex: 1;
      padding: 1vw;
    }
  }
}

.float-menu-button {
  z-index: 1000;
  position: absolute;
  bottom: 0vw;
  right: 1.5vw;
  .container {
    position: relative;
    .float-menu-button-svg {
      position: absolute;
      width: 5vw;
      cursor: pointer;
      z-index: 2000;
      bottom: 0.5vw;
      right: 0.5vw;
    }

    .float-menu-msg-sub-button-svg,
    .float-menu-poll-sub-button-svg,
    .float-menu-photo-video-sub-button-svg,
    .float-menu-upload-sub-button-svg {
      width: 3vw;
      pointer-events: none;
    }

    li {
      list-style-type: none;
      cursor: pointer;
    }
  }
  .container > li:nth-child(n + 2) {
    position: absolute;
    right: 1.5vw;
    bottom: 1.5vw;
    z-index: 1000;
  }
}
//Post
.post-wrapper {
  @include flex(center, center, column);
  width: 98.5%;
  margin: 5vw 0.5vw 0 0.5vw;
  .post-header {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 12fr;
    grid-template-areas:
      "userPic userName checkMark userTopic followButton"
      "userPic hashtagsText hashtagsText hashtagsText hashtagsText";
    .user-pic {
      position: relative;
      grid-area: userPic;
      width: 4.5vw;
      height: 4.5vw;
      border-radius: 50%;
      background: $primary-color;
      margin-right: 0.7vw;

      .user-pic-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4.3vw;
        height: 4.3vw;
        border-radius: 50%;
        z-index: 1;
      }
    }
    .user-name {
      @include flex(flex-start, center, row);
      grid-area: userName;
      font-weight: bold;
    }
    .check-mark {
      grid-area: checkMark;
      @include flex(center, center, row);
      .real-icon-svg {
        width: 1.1vw;
      }
      margin: 0 0.5vw 0 0.5vw;
    }
    .user-topic {
      grid-area: userTopic;
      @include flex(flex-start, center, row);
      font-weight: 500;
    }
    .hashtags-text {
      grid-area: hashtagsText;
      @include flex(flex-start, center, row);
      font-weight: 600;
    }
    .follow-button-wrapper {
      grid-area: followButton;
      @include flex(flex-start, center, row);
      .follow-button {
        border: 0.15vw solid $primary-color;
        border-radius: 0.2vw;
        padding: 0.2vw 1vw 0.2vw 1vw;
        color: $third-font-color;
        font-weight: bold;
        cursor: pointer;
        margin: 0 2vw;
      }
    }
  }
  .post-content {
    margin: 1vw 5.5vw;
    .post-text {
      color: $primary-font-color;
    }
    .post-img {
      width: 50vw;
      border-radius: 1.5vw;
    }
  }
  .post-panel {
    @include flex(space-between, center, row);
    width: 40%;
    .likes-wrapper,
    .comments-wrapper,
    .share-wrapper {
      @include flex(center, center, row);
      .likes-button,
      .comment-button,
      .share-button {
        cursor: pointer;
        .like-icon-svg,
        .comments-icon-svg,
        .share-icon-svg {
          width: 2.5vw;
        }
      }
      .likes-counter,
      .comments-counter,
      .share-counter {
        color: $secondary-font-color;
        margin-left: 0.5vw;
      }
    }
  }
}

.post-wrapper:first-child {
  margin: 2vw 0.5vw 0 0.5vw;
}

//Right side
.right-side {
  .panel-wrapper {
    .panel-scroll-wrapper {
      height: 88vh;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    .header {
      color: $secondary-font-color;
      font-size: 2.5rem;
      font-weight: 500;
    }
    .user {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr 12fr;
      grid-template-areas:
        "userPic userName checkMark"
        "userPic userTopic userTopic";
      margin: 1vw 0;

      .user-pic {
        grid-area: userPic;
        width: 4.5vw;
        height: 4.5vw;
        border-radius: 50%;
        background: $primary-color;
        margin-right: 0.7vw;
      }

      .user-name {
        @include flex(flex-start, center, row);
        grid-area: userName;
        font-weight: bold;
      }

      .user-mark {
        grid-area: checkMark;
        @include flex(flex-start, center, row);
        .real-icon-svg {
          width: 1.1vw;
        }
        margin: 0 0.5vw 0 0.5vw;
      }
      .user-topic {
        grid-area: userTopic;
        @include flex(flex-start, center, row);
        font-weight: 500;
      }
    }
  }
}

.user-login,
.user-post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  width: 65vw;
  min-height: 27vw;
  border: 1px solid $primary-color;
  border-radius: 2vw;
  background: $secondary-color;
  padding: 2vw;
  .close {
    @include flex(flex-end, center, row);
    cursor: pointer;
    .close-icon-svg {
      width: 1.5vw;
    }
  }

  hr {
    border: 1px solid $primary-color;
    background: $primary-color;
    margin: 1.5vw 2vw;
  }

  .header-text {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    margin-top: 2vw;
  }
  .buttons-wrapper {
    @include flex(center, center, column);
    margin: 1.5vw;
    .login-user-button,
    .login-facebook-button {
      @include flex(flex-start, center, row);
      width: 35%;
      padding: 0.3vw 1vw;
      border: 1px solid $primary-color;
      border-radius: 0.2vw;
      margin: 0.5vw 0;
      cursor: pointer;
      .user-icon,
      .facebook-icon {
        .user-icon-svg,
        .facebook-icon-svg {
          width: 1.2vw;
        }
      }
      .text {
        font-weight: bold;
        color: $secondary-font-color;
        width: 100%;
        text-align: center;
      }
    }
  }

  .sign-up {
    text-align: center;
    margin-top: 7vw;
    .sign-up-part {
      color: $third-font-color;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.off {
  display: none;
}

.tags-wrapper {
  margin-top: 1vw;
  @include flex(flex-start, center, row);
  .tags-label {
    margin-right: 0.5vw;
  }

  .tags-input {
    width: 100%;
    border: 1px solid $primary-color;
    outline: none;
  }
}

.new-message-area {
  width: 100%;
  height: 13vw;
  border: 1px solid $primary-color;
  outline: none;
  margin-top: 1vw;
  padding: 0.5vw;
}

.submit-wrapper {
  width: 100%;
  @include flex(flex-end, center, row);
  .submit {
    background: $primary-color;
    border-radius: 1vw;
    padding: 0.5vw 2vw;
    margin-top: 0.5vw;
    cursor: pointer;
    color: $fourth-font-color;
  }
}
