$primary-font-color: #1d1d1d;
$secondary-font-color: #494c4e;
$third-font-color: #fd2d55;
$fourth-font-color: #f7f7f7;

$primary-color: #fd2d55;
$secondary-color: #f7f7f7;
$third-color: #626262;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "index";
@import "phone";
