$primary-font-color: #000000;
$secondary-font-color: #494c4e;

$primary-color: #1d2c3e;
$secondary-color: #3d4958;
$third-color: #f4f4f4;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "index";
@import "phone";
